body {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffb76b+0,ffa73d+50,ff7c00+51,ff7f04+100;Orange+Gloss */
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffb76b+0,ff7f04+53 */
    height: 300px;
    /*background: linear-gradient(rgb(231, 54, 0), rgb(252, 113, 0)); /* Standard syntax (must be last) */
    background-color:#37305c; 
}
.container {
    display: flex;
    justify-content: center;
}
.partials {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}
#stats {
    display: flex;
}

h1 {
    font-family: 'Nunito Sans', sans-serif;
    color: white;
    font-weight: normal;
    font-size: 150px;
    text-align: center;
    margin-top: 15%;
    margin-bottom: 0;
}

h2 {
    font-family: 'Nunito Sans', sans-serif;
    color: white;
    font-weight: normal;
    font-size: 100px;
    text-align: center;
}

#result {
    font-family: 'Nunito Sans', sans-serif;
    color: white;
    font-size: 30px;    
    text-align: center;
}